body {
  background-color: hsl(0, 0%, 71%);
}


.card {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border-style: none;
  background-color: 	#DC143C;
  .image {
    display: flex;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.image.is-128x128 {
    height: 128px;
    width: 128px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
}

.navbar {
  background-color: #DC143C;
}

.navbar-item {
  color: white;
  border-radius:15px;
  padding: 5px 20px;
  // font-size: 20px;
}

.devicon-mongodb-plain-wordmark {
  font-size: 2rem;
}

.devicon-webpack-plain {
  font-size: 2rem;
}
