body {
  background-color: hsl(0, 0%, 71%);
}


.card {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border-style: none;
  background-color: peachpuff;
  .image {
    display: flex;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.navbar {
  background-color: brown;
}

.navbar-item {
  color: white;
  border-radius:15px;
  padding: 5px 20px;
  // font-size: 20px;
}
